@import '../../scss/main.scss';

.home {
  &__landing {
    aspect-ratio: 1600/715;
    background: url('src/backgrounds/home-landing3.png') $color-gray;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  &__info {
    padding: 4rem $padding-container-horizontal;
    background: $color-blue;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    line-height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3.5rem;

    & > div {
      display: flex;
      align-items: center;
      column-gap: 3rem;

      img {
        aspect-ratio: 1/1;
        padding: 2.4rem;
        border-radius: 50%;
        width: 9rem;

        &.green {
          background: #17b8c1;
        }

        &.purple {
          background: #5b63fe;
        }
      }
    }
  }

  &__about-us {
    @include container-style(120rem, 15rem);
    background: url('../../backgrounds/home-about-us.png');
    background-size: cover;
    background-position: center -7rem;

    .content {
      .upper,
      .lower {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 7.6rem;

        .img-container {
          position: relative;
          height: 100%;
          flex: 1.1;

          img {
            position: absolute;
            background: $color-gray;
          }
        }

        .right {
          font-size: 1.8rem;
          font-weight: 600;
          color: #354c68;
          line-height: 160%;
          flex: 1;

          .title {
            font-size: 2.4rem;
            font-weight: 700;
            color: #0071dc;
            margin-bottom: 2.7rem;
          }

          span {
            font-size: 5rem;
            font-weight: 700;
            color: $color-blue;
          }

          p:has(span) {
            margin-top: -0.5rem;
          }

          li:has(ul) {
            ul {
              padding-left: 2.8rem;
            }
          }
        }
      }

      .upper {
        height: 56rem;

        .img-container {
          img {
            &:nth-child(1) {
              aspect-ratio: 320/370;
              object-fit: cover;
              width: 32rem;
              left: 0;
              bottom: 0;
            }

            &:nth-child(2) {
              aspect-ratio: 420/250;
              object-fit: cover;
              width: 42rem;
              top: 0;
              left: 4rem;
              z-index: 1;
            }

            &:nth-child(3) {
              aspect-ratio: 227/227;
              object-fit: cover;
              width: 22.7rem;
              top: 25rem;
              left: 32rem;
              margin: 4rem 0 0 4rem;
            }
          }
        }
      }

      .lower {
        height: 45rem;
        margin-top: 4rem;

        .img-container {
          img {
            &:nth-child(1) {
              aspect-ratio: 320/370;
              object-fit: cover;
              width: 32rem;
              left: 0;
              bottom: 0;
              margin-left: 2rem;
            }

            &:nth-child(2) {
              aspect-ratio: 227/227;
              object-fit: cover;
              width: 22.7rem;
              top: 0;
              left: 32rem;
            }
          }
        }
      }
    }
  }

  &__research-publication {
    background: url('../../backgrounds/home-research-publication.png') $color-gray;
  }

  &__project {
    background: url('../../backgrounds/home-project.png');
  }

  &__research-publication,
  &__project {
    @include container-style(144rem, 14rem);
    background-size: cover;
    background-position: center;
  }

  &__partner {
    padding: 8rem 2rem;

    p {
      font-size: 5rem;
      font-weight: 700;
      color: $color-blue;
      text-align: center;
      margin-bottom: 3.5rem;
    }

    div {
      text-align: center;

      img {
        height: 13.6rem;

        &:not(:last-child) {
          margin-right: 11rem;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .home {
    &__info {
      padding: 2.5rem $padding-container-horizontal;
      column-gap: 2rem;

      & > div {
        column-gap: 3rem;
        flex: 1;

        img {
          width: 7.5rem;
        }

        br {
          display: none;
        }
      }
    }

    &__about-us {
      padding: 10rem $padding-container-horizontal;

      .content {
        .upper,
        .lower {
          column-gap: 5rem;
        }
      }
    }

    &__research-publication,
    &__project {
      padding: 10rem $padding-container-horizontal 12rem;
    }

    &__partner {
      padding: 5rem $padding-container-horizontal;

      p {
        font-size: 4.5rem;
      }

      div {
        img {
          height: 12rem;

          &:not(:last-child) {
            margin-right: 8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    &__info {
      display: none;
    }

    &__about-us {
      padding: 6rem $padding-container-horizontal;

      .content {
        .upper,
        .lower {
          height: fit-content;

          .img-container {
            display: none;
          }

          .right {
            ul {
              padding-left: 2.8rem;
            }
          }
        }
      }
    }

    &__research-publication,
    &__project {
      padding: 6rem $padding-container-horizontal 8rem;
    }

    &__partner {
      padding: 4rem $padding-container-horizontal;

      p {
        font-size: 3.5rem;
      }

      div {
        img {
          height: 8rem;

          &:not(:last-child) {
            margin-right: 5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .home {
    &__partner {
      div {
        img {
          height: 6rem;

          &:not(:last-child) {
            margin-right: 3rem;
          }
        }
      }
    }
  }
}
